node_modules/
dist/
.env
.env.local
.env.enc
*.log
.DS_Store
coverage/
.cache/
.kilo/
start-deepsproxy.sh

# Profiles e Tokens de Autenticacao
*_profile/
*.token
.kimi-token

# Temp and Test files
scratch/
*.mp4
hugchat.py

# Cofre Criptografado (Vault)
# Nada do usuario deve ir para o git (nem arquivos abertos, nem arquivos criptografados)
*.enc